@font-face {
	font-family: 'payrollxpress';
	src:url('../fonts/payrollxpress.eot?-kyge23');
	src:url('../fonts/payrollxpress.eot?#iefix-kyge23') format('embedded-opentype'),
		url('../fonts/payrollxpress.woff?-kyge23') format('woff'),
		url('../fonts/payrollxpress.ttf?-kyge23') format('truetype'),
		url('../fonts/payrollxpress.svg?-kyge23#payrollxpress') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'payrollxpress';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
	content: "\e606";
}
.icon-human-resources:before {
	content: "\e608";
}
.icon-time-attendance:before {
	content: "\e60a";
}
.icon-payroll:before {
	content: "\e60b";
}
.icon-money-sign:before {
	content: "\e60c";
}
.icon-mail:before {
	content: "\e60d";
}
.icon-location:before {
	content: "\e60e";
}
.icon-income-taxes:before {
	content: "\e60f";
}
.icon-clients-check:before {
	content: "\e610";
}
.icon-bookkeeping:before {
	content: "\e611";
}
.icon-benefits:before {
	content: "\e612";
}
.icon-undo:before {
	content: "\e600";
}
.icon-redo:before {
	content: "\e61b";
}
.icon-loop:before {
	content: "\e601";
}
.icon-arrow-up:before {
	content: "\e602";
}
.icon-arrow-right:before {
	content: "\e603";
}
.icon-arrow-down:before {
	content: "\e604";
}
.icon-arrow-left:before {
	content: "\e605";
}
.icon-apple:before {
	content: "\e614";
}
.icon-windows8:before {
	content: "\e615";
}
.icon-paypal:before {
	content: "\e617";
}
.icon-file-pdf:before {
	content: "\e618";
}
.icon-file-word:before {
	content: "\e619";
}
.icon-file-excel:before {
	content: "\e61a";
}
.icon-mobile:before {
	content: "\e61c";
}
.icon-paperclip:before {
	content: "\e61d";
}
.icon-vcard:before {
	content: "\e61e";
}
.icon-export:before {
	content: "\e61f";
}
.icon-help:before {
	content: "\e620";
}
.icon-screen:before {
	content: "\e621";
}
.icon-statistics:before {
	content: "\e622";
}
.icon-bars:before {
	content: "\e623";
}
.icon-download-install:before {
	content: "\e607";
}
.icon-twitter:before {
	content: "\e624";
}
.icon-facebook:before {
	content: "\e625";
}
.icon-linkedin:before {
	content: "\e626";
}
